	<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Read To Me</title>
		<script
	  	src="http://code.jquery.com/jquery-3.2.1.js"
	  	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	  	crossorigin="anonymous"></script>
		<!-- Here we include bootstrap. This will be made available to all of the generated HTML/JS that React generates-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- opentok api script -->
		<script src="https://static.opentok.com/v2/js/opentok.js"></script>
		<!-- googlebooks api script -->
		<script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
	</head>

	<body>
		
		<!-- This is where React will deploy the contents it generates -->
		<div id="app"></div>

		<!-- All of our JS code will be transpiled into this bundle.js file -->
		<script src="/bundle.js"></script>
		
	</body>
</html>